.logo-small {
  width: 250px;
  height: auto;
  position: absolute;
  position: absolute;
  margin-left: 40px;
  margin-top: 40px;

  @media only screen and (max-width:480px) {
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
  }
}

.sticky--top {
  position: fixed;
  top: auto;
  width: 100%;
  text-align: center;
  top: 30px;
  left: 20px;
}

.sticky--left {
  left: -86px;
  right: auto;
  transform: rotate(90deg) translateY(-50%);
  position: fixed;
  top: 50%;

  @media only screen and (max-width:480px) {
    left: -110px;
  }
}

.sticky--right {
  display: block;
  position: absolute;
  top: 50%;
  left: -93px;
  transform: rotate(-90deg) translateY(-50%);

  color: #fff;

  a {
    font-family: $font-headline;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
    color: #000;
    text-decoration: none;
  }
}

.sticky--bottom {
  position: fixed;
  bottom: 30px;
  width: 100%;
  left: 40px;

  a{
    font-family: $font-headline;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #000;
    display: inline-block;
  }

  .saker-text {
    font-family: $font-saker;
    margin-left: 20px;
    font-style: normal;
    font-size: 0.75rem;

    &:hover {
      .saker-icon {
        fill: #fc276c;
      }
    }
  }

  .saker-icon {
    width: 20px;
    transform: translateY(3px);
    display: inline-block;
    margin-left: 3px;
    fill: $color-black;
    float: none;

    path {
      fill-opacity: 1;
    }
  }
}
