.logo-small {
  width: 100px;
  height: auto;
  position: fixed;
  margin-left: 20px;
  margin-top: 20px;

  @media only screen and (min-width: 768px) {
    width: 200px;
    margin-left: 40px;
    margin-top: 40px;
  }
}

.sticky--top {
  position: fixed;
  z-index: 100;
  top: auto;
  width: 100%;
  text-align: center;
  top: 30px;
  left: 20px;
}

.sticky--right {
  display: block;
  position: absolute;
  top: 50%;
  left: -113px;
  transform: rotate(-90deg) translateY(-50%);
  color: #fff;

  @media only screen and (min-width:480px) {
    left: -111px;
  }

  @media only screen and (min-width:768px) {
    left: -110px;
  }

  @media only screen and (min-width:1024px) {
    left: -100px;
  }

  @media only screen and (min-width:1140px) {

  }
  @media only screen and (min-width:1280px) {
    left: -93px;
  }

 


  a {
    font-family: $font-headline;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
    color: #000;
    text-decoration: none;
  }
}

.sticky--bottom {
  position: fixed;
  z-index: 100;
  bottom: 30px;
  width: 100%;
  left: 40px;

  a{
    font-family: $font-headline;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #000;
    display: inline-block;
  }

  .saker-text {
    font-family: $font-saker;
    margin-left: 20px;
    font-style: normal;
    font-size: 0.75rem;

    &:hover {
      .saker-icon {
        fill: #fc276c;
      }
    }
  }

  .saker-icon {
    width: 20px;
    transform: translateY(3px);
    display: inline-block;
    margin-left: 3px;
    fill: $color-black;
    float: none;

    path {
      fill-opacity: 1;
    }
  }
}
