html,
body {
  min-height: 1vh;
  min-height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.main {
  height: 100%;
  width: 100%;


  .intro {
    position: absolute;
    width: 35%;
    margin-left: 200px;
    margin-top: 200px;
  }
  @media only screen and (max-width:480px) {
    width: 50%;
    margin-left: 89px;
    margin-top: 200px;
  }

  @media only screen and (min-width:768px) {
    width: 54%;
    margin-left: 119px;
    margin-top: 200px;
  }
}

path {
  fill-opacity: .5;
  transition: all .5s;
}
path:nth-child(n+32){opacity:0;}
svg:hover path:nth-child(n+10){opacity:1}

p {
  font-family: Courier New;
}

svg {
  display: block;
  float: left;
  margin: 0;

}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

canvas {
  background-color: #fff;
  position: fixed;
  z-index: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
  box-sizing: border-box;
}

.work-panel {
  width: 50vw;
  height: 100vh;
  top: 0;
  position: fixed;
  right: -43vw;
  overflow: hidden;
  background-color: #111;
  transition: all .3s ease-in-out;
  &.open {
    right: 0;

    .arrow {
      transform: rotate(-180deg);
    }
  }
}

.work-panel__bar {
  height: 100%;
  width: 7vw;
  position: relative;
  text-align: center;
  background-color: black;
  cursor: url('../img/cursor.png'), pointer;
}

.sticky--right span {
  display: block;
  min-width: 300px;
  text-align: center;
  top: 50%;
}

.arrow {
  color: #fff;
  width: 30px;
  margin-top: 30px;
  transition: all 500ms ease;
}
