.main {


}

path {
    fill-opacity: .5;
    transition: all .5s;
    }
    path:nth-child(n+32){opacity:0;}
    svg:hover path:nth-child(n+10){opacity:1}
    
    p {
      font-family: Courier New;
    }

svg {
    display: block;
    float: left;
    margin: 0;
    
}

.about-pics {
    margin-bottom: 40px;
}
