.nav {
  ul {
    list-style: none;
    li {
      a {

      }
    }
  }
}

.sticky--left {
  z-index: 100;
  left: 0;
  right: auto;
  transform: translateY(-50%);
  position: fixed;
  top: 50%;
  margin: 10px;

  @media only screen and (max-width:480px) {
    left: -110px;
  }
}

.social-nav__item {
  display: block;
  width: 20px;
  opacity: .80;
  margin-left: 10px;
  margin-right: 10px;
  img {
    width: 20px;
  }
  &:hover {
    transform: scale(1.2);
  }
}
 