.nav {
  ul {
    list-style: none;
    li {
      a {

      }
    }
  }
}

.sticky--left {
  z-index: 150;
  left: 8px;
  padding-left: 0px;
  right: auto;
  transform: translateY(-50%);
  position: fixed;
  top: 50%;

  @media only screen and (min-width:768px) {
    left: 0;
  }
}

.social-nav__item {
  display: block;
  opacity: .80;
  margin: 10px;

  @media only screen and (min-width:768px) {
    margin-left: 20px;
  }

  img {
    width: 16px;

    @media only screen and (min-width:768px) {
      width: 20px;
      margin-left: 20px;
    }
  }
  &:hover {
    transform: scale(1.2);
  }
}

.sticky--bottom {
  position: fixed;
  z-index: 150;
  bottom: 15px;
  width: 100%;
  left: 20px;

  @media only screen and (min-width:768px) {
    bottom: 30px;
    left: 40px;
  }

  a {
    font-family: $font-headline;
    font-size: 0.65rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #000;
    display: inline-block;

    &:hover {
      transform: scale(1.05);
    }

    &:focus {
      border: none;
      outline: none;
    }

    @media only screen and (min-width:768px) {
      font-size: 0.75rem;
    }
  }

  .saker-text {
    font-family: $font-saker;
    margin-left: 10px;
    font-style: normal;
    font-size: 0.65rem;


    &:hover {
        cursor: url('../img/cursor.png') 0 0, auto;
        cursor: -webkit-image-set(
        url('../img/cursor.png') 1x,
        url('../img/cursor.png') 2x
      ), auto;
      transform: scale(1.05);
      }

    &:focus {
      border: none;
      outline: none;
    }

    @media only screen and (min-width:768px) {
      margin-left: 20px;
    }
}

  .saker-icon {
    width: 16px;
    transform: translateY(5px);
    display: inline-block;
    margin-left: 5px;
    fill: $color-black;
    float: none;

    path {
      fill-opacity: 1;
    }

    @media only screen and (min-width:768px) {
      width: 20px;
      transform: translateY(5px);
      font-size: 0.75rem;
    }
  }
}
