.nav {
  ul {
    list-style: none;
    li {
      a {

      }
    }
  }
}

.sticky--left {
  z-index: 100;
  left: 0;
  padding-left: 0px;
  right: auto;
  transform: translateY(-50%);
  position: fixed;
  top: 50%;

.social-nav__item {
  display: block;
  width: 20px;
  opacity: .80;
  margin: 10px;

  @media only screen and (min-width:768px) {
    margin-left: 20px;
  }

  a {
  cursor: url('../img/cursor.png'), auto;
  cursor: -webkit-image-set(
  url('../img/cursor.png') 1x,
  url('../img/cursor.png') 2x
  ), auto;

  // @media only screen and (min-width:420px) {
  //   width: 80px;
  // }
  }

  img {
    width: 20px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.sticky--bottom {
  position: fixed;
  z-index: 0;
  bottom: 30px;
  width: 100%;
  left: 40px;

  a{
    font-family: $font-headline;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #000;
    display: inline-block;
  }

  .saker-text {
    font-family: $font-saker;
    margin-left: 20px;
    font-style: normal;
    font-size: 0.75rem;

    &:hover {
      .saker-icon {
        fill: $color-details;
      }
    }
  }

  .saker-icon {
    width: 20px;
    transform: translateY(3px);
    display: inline-block;
    margin-left: 3px;
    fill: $color-black;
    float: none;

    path {
      fill-opacity: 1;
    }
  }
}
