.work-panel {
    position: fixed;
    right: 0;
    background-color: #000;
    min-height: 100%;
    width: 50%;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.pitch-form {
    max-width: 60%;
    margin-left: 20%;
}

.pitch-text{
    color: #fff;
    text-align: left;
}

.pitch-form-text {
    border: 1px #fff;
    background: transparent;
    color: #fff;
    border-style: solid;
    border-radius: 4px;
    width: 100%;
    padding: 10px 10px 50px;
    margin-bottom: 25px;
}

.pitch-button-send {
    border-style: none;
    width: 35%;
    height: 46px;
    border: none;
    background: #fff;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    font-size: 0.75rem;

    &:hover {
        cursor: pointer;
      }

    &:focus {
    border: none;
    outline: none;
    }

    @media only screen and (max-width:480px) {
      width: 90%;
    }

    @media only screen and (max-width:768px) {
      width: 80%;
      }
}