
.pitch-form {
  max-width: 100%;
  padding: 0 7%;
}

.pitch-text{
  color: #fff;
  text-align: left;
}

.pitch-form-text {
  border: 1px #fff;
  background: transparent;
  color: #fff;
  border-style: solid;
  border-radius: 4px;
  width: 100%;
  padding: 10px 10px 50px;
  margin-bottom: 25px;
  font-size: 0.65rem;
  color: $color-terminal;

  &::placeholder {
    color: $color-terminal;
  }

  &:focus  {
    outline: none;
    border-color: $color-terminal;
  }

  @media only screen and (min-width:768px) {
    font-size: 0.875rem;
  }
}

.pitch-button-send {
  border-style: none;
  width: 50%;
  height: 46px;
  border: none;
  background: #fff;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  font-size: 0.65rem;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: none;
    outline: none;
  }

  @media only screen and (max-width:480px) {
    width: 90%;
    font-size: 0.75rem;
  }

  @media only screen and (max-width:768px) {
    width: 60%;
  }
}

.work-panel {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 150;
  top: 0;
  right: calc((-90vw) + 50px);
  width: 90vw;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
  background-color: #111;
  transition: all .4s ease-in-out;

  @media only screen and (min-width:768px) {
    width: 50vw;
    right: calc((-50vw) + 80px);
  }

  &.open {
    right: 0;

    .arrow {
      transform: rotate(-180deg);
    }
  }
}

.work-panel__bar {
  height: 100%;
  min-width: 50px;
  position: relative;
  text-align: center;
  background-color: black;
  cursor: url('../img/cursor.png'), auto;
  cursor: -webkit-image-set(
  url('../img/cursor.png') 1x,
  url('../img/cursor.png') 2x
  ), auto;

  // @media only screen and (min-width:420px) {
  //   width: 80px;
  // }

  @media only screen and (min-width:768px) {
    min-width: 80px;
  }
}

.sticky--right {
  display: block;
  position: absolute;
  top: 50%;
  left: -115px;
  transform: rotate(-90deg) translateY(-50%);
  color: #fff;
  font-size: 0.65rem;

  @media only screen and (min-width:768px) {
    left: -98px;
    font-size: 0.75rem;
  }
}
.sticky--right > span {
  display: block;
  min-width: 300px;
  text-align: center;
  top: 50%;

  @media only screen and (min-width:480px) {
    font-size: 0.75rem;
  }
}
.arrow {
  color: #fff;
  width: 20px;
  margin-top: 30px;
  transition: all 500ms ease;

  @media only screen and (min-width:768px) {
    width: 30px;
  }
}
