.work-panel {
  position: fixed;
  right: 0;
  background-color: #000;
  min-height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.pitch-form {
  max-width: 100%;
  padding: 0 10%;
}

.pitch-text{
  color: #fff;
  text-align: left;
}

.pitch-form-text {
  border: 1px #fff;
  background: transparent;
  color: #fff;
  border-style: solid;
  border-radius: 4px;
  width: 100%;
  padding: 10px 10px 50px;
  margin-bottom: 25px;
  font-size: 0.875rem;
  color: $color-terminal;

  &::placeholder {
    color: $color-terminal;
  }

  &:focus  {
    outline: none;
    border-color: $color-terminal;
  }
}

.pitch-button-send {
  border-style: none;
  width: 35%;
  height: 46px;
  border: none;
  background: #fff;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  font-size: 0.75rem;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: none;
    outline: none;
  }

  @media only screen and (max-width:480px) {
    width: 90%;
  }

  @media only screen and (max-width:768px) {
    width: 80%;
  }
}


.work-panel {
  width: 50vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 1000;
  right: -43vw;
  overflow: hidden;
  background-color: #111;
  transition: all .4s ease-in-out;
  &.open {
    right: 0;

    .arrow {
      transform: rotate(-180deg);
    }
  }
}

.work-panel__bar {
  height: 100%;
  width: 17vw;
  position: relative;
  text-align: center;
  background-color: black;
  cursor: url('../img/cursor.png'), auto;
  cursor: -webkit-image-set(
  url('../img/cursor.png') 1x,
  url('../img/cursor.png') 2x
), auto;
}

.sticky--right span {
  transform: rotate(-0deg);
  display: block;
  min-width: 300px;
  text-align: center;
  top: 50%;
}

.arrow {
  color: #fff;
  width: 30px;
  margin-top: 30px;
  transition: all 500ms ease;
}
