.pitch-form {
  width: 100%;
  padding: 0 7%;
  color: #fff;
}

.pitch-form__intro {
  text-align: left;
}

.pitch-form__form {
  font-size: 0.75rem;

  label {
    display: block;
  }

  input:not(.btn),
  textarea {
    width: 100%;
    margin: 5px 0 20px;
    padding: 5px 7px;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: 0.5s;

    &.error {
      box-shadow: 10px 10px #d52c7d;
    }
  }

  @media only screen and (min-width: 768px) {
    font-size: 0.875rem;
    margin: 5px 0 30px;
  }
}

.shake {
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.work-panel {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  right: calc((-90vw) + 50px);
  width: 90vw;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
  background-color: #111;
  transition: all 0.4s ease-in-out;

  @media only screen and (min-width: 768px) {
    width: 50vw;
    right: calc((-50vw) + 80px);
  }

  &.open {
    right: 0;

    .arrow {
      transform: rotate(-180deg);
    }
  }
}

.work-panel__bar {
  height: 100%;
  min-width: 50px;
  position: relative;
  text-align: center;
  background-color: black;
  cursor: url("../img/cursor.png"), auto;
  cursor: -webkit-image-set(
      url("../img/cursor.png") 1x,
      url("../img/cursor.png") 2x
    ),
    auto;

  // @media only screen and (min-width:420px) {
  //   width: 80px;
  // }

  @media only screen and (min-width: 768px) {
    min-width: 80px;
  }
}

.sticky--right {
  display: block;
  position: absolute;
  top: 50%;
  left: -113px;
  transform: rotate(-90deg) translateY(-50%);
  color: #fff;
  font-size: 0.75rem;

  @media only screen and (min-width: 768px) {
    left: -98px;
  }
}
.sticky--right > span {
  display: block;
  min-width: 300px;
  text-align: center;
  top: 50%;

  @media only screen and (min-width: 480px) {
    font-size: 0.75rem;
  }
}
.arrow {
  color: #fff;
  width: 18px;
  margin-top: 24px;
  transition: all 500ms ease;

  @media only screen and (min-width: 768px) {
    width: 30px;
    margin-top: 30px;
  }
}
