html,
body,
main {
  width: 100%;
  height:100%;
  font-size: 16px;
  line-height: 1.5;

  .work {
    background-color: $color-work;
  }

  .member {
    background-color: $color-member;
  }
}

body {
  position: relative;
  font-family: $font-body;
  border: 15px solid #fff;
}

.site-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;

  a {
    color: inherit;
  }
}
