
.splash {
  margin: 17% auto 0 auto;
  max-width: 85%;
  font-family: "acumin-pro-extra-condensed",sans-serif;
  font-weight: black;
  font-size: 3rem;
  line-height: 1;
  color: #fff;
  letter-spacing: 2px;
  vertical-align: baseline;

  span {
    display: inline-block;
    margin-bottom: 200px;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
    position: relative;
  }

  .splash__part-one {
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: $color-black;
    padding: 0 10px 7px 10px;
    margin-bottom: -200px;
  }
  .splash__part-two {
    font-size: 11rem;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    // text-decoration: line-through;
    font-style: italic;
    padding-right: 20px;
    margin-right: -20px;
    float: right;
  }
  .splash__part-three {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 5.25rem;
    text-transform: uppercase;
  }
  .splash__part-four {
    position: relative;
    z-index: 10;
  }
  .splash__part-five {
    display: block;
    font-size: 9.75rem;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(180deg);
  }
  .splash__part-six {
    display: block;
    text-transform: uppercase;
  }
  .splash__part-seven {
    display: block;
    font-size: 13.75rem;
    color: #fff;
    text-transform: uppercase;
  }
}
