.pitch-form {
    max-width: 100%;
}

.pitch-pitch {
    border-style: none;
    width: 60%;
    height: 70px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 10px; 
}

.pitch-budget {
    border-style: none;
    width: 60%;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 7px;
    margin-bottom: 10px; 
}

.pitch-mail {
    border-style: none;
    width: 60%;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 7px;
    margin-bottom: 20px; 
}

.pitch-send {
    border-style: none;
    width: 30%;
    height: 50px;
    border: none;
    color: $color-work;
    background: #fff;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

.member-send {
    border-style: none;
    width: 30%;
    height: 50px;
    border: none;
    color: $color-member;
    background: #fff;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

.home-icon {
    float: left;
    width: 30px;
    opacity: .80;
    margin-left: 25px;
  }
  
  .login-icon {
    float: right;
    width: 30px;
    opacity: .80;
    margin-right: 25px;
  }

  .facebook-icon {
    width: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }

  .github-icon {
    width: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }

  .instagram-icon {
    width: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }

  .twitter-icon {
    height: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }

  .mail-icon {
    width: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }
