.pitch-form {
    max-width: 100%;
}

.pitch-form-text {
    border-style: none;
    width: 60%;
    height: 65px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 7px;
    margin-bottom: 15px; 
    text-align: center;

    &:focus {
        outline: none;
        }
}

.pitch-button-send {
    border-style: none;
    width: 30%;
    height: 50px;
    border: none;
    color: $color-work;
    background: #fff;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
      }

    &:focus {
    border: none;
    outline: none;
    }
}


.member-form {
    max-width: 100%;
}

.member-form-text {
    border-style: none;
    width: 60%;
    height: 65px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 7px;
    margin-bottom: 15px; 
    text-align: center;

    &:focus {
        outline: none;
        }
}

.member-button-send {
    border-style: none;
    width: 30%;
    height: 50px;
    border: none;
    color: $color-member;
    background: #fff;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
      }

    &:focus {
    border: none;
    outline: none;
    }
}

.home-icon {
    float: left;
    width: 30px;
    opacity: .80;
    margin-left: 25px;
  }
  
  .login-icon {
    float: right;
    width: 30px;
    opacity: .80;
    margin-right: 25px;
  }

  .facebook-icon {
    width: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }

  .github-icon {
    width: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }

  .instagram-icon {
    width: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }

  .twitter-icon {
    height: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }

  .mail-icon {
    width: 20px;
    opacity: .80;
    margin-left: 10px;
    margin-right: 10px;
  }
