.pitch-form {
    max-width: 100%;
}

.pitch-pitch {
    border-style: none;
    width: 60%;
    height: 70px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 10px; 
}

.pitch-budget {
    border-style: none;
    width: 60%;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 7px;
    margin-bottom: 10px; 
}

.pitch-mail {
    border-style: none;
    width: 60%;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 7px;
    margin-bottom: 20px; 
}

.pitch-send {
    border-style: none;
    width: 30%;
    height: 50px;
    border: none;
    color: $color-work;
    background: #fff;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

.member-send {
    border-style: none;
    width: 30%;
    height: 50px;
    border: none;
    color: $color-member;
    background: #fff;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}
