
.btn {
  min-width: 80px;
  float: right;
  padding: 7px 15px;
  font-family: $font-saker;
  font-weight: 900;
  font-style: italic;
  font-size: 1rem;
  color: #fff;
  background-color: $color-details;
  border: none;
  border-radius: 100px;
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0);

  @media only screen and (min-width:768px) {

  }

  &:hover {
    cursor: url('../img/cursor.png') 0 0, auto;
    cursor: -webkit-image-set(
    url('../img/cursor.png') 1x,
    url('../img/cursor.png') 2x
  ), auto;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.btn--cookies {
  font-size: 0.65rem;
}

input.btn--form {
  display: inline-block;
  width: auto;

  &:hover {
      cursor: url('../img/cursor.png') 0 0, auto;
      cursor: -webkit-image-set(
      url('../img/cursor.png') 1x,
      url('../img/cursor.png') 2x
    ), auto;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
  }
}
