.cookies {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000000;
  bottom: 0;
  width: 100%;
  padding: 12px;
  color: #fff;
  background: $color-details;
}

.cookies__text {
  display: inline-block;
  margin: 0 20px 0 0;
  margin-bottom: 0;
  float: left;
  font-size: 0.65rem;
  line-height: normal;

  @media only screen and (min-width:480px) {

  }

  @media only screen and (min-width:768px) {
    margin: 0 20px 0 0;
  }
}
