@import url('https://fonts.googleapis.com/css?family=Chivo|Overpass+Mono');

body,
p {
  font-family: $font-body;
}

h1,
h2,
h3 {
  font-family: $font-saker;

  &.saker-text {
    margin-bottom: 20px;
    line-height: 115%;
    font-size: 1.75rem;
  }
  @media only screen and (max-width:480px) {
    font-size: 1.5rem;
  }

}

h4 {
  font-family: $font-headline;

  &.headline {
    margin-bottom: 20px;
    line-height: 115%;
    font-size: 1.75rem;
  }
  @media only screen and (max-width:480px) {
    font-size: 1.5rem;
  }

}

p {
  font-size: 1rem;
  line-height: 2;


  &.under-text {
    margin-bottom: 30px;
  }

  @media only screen and (max-width:480px) {
    font-size: 0.75rem;
  }

  @media only screen and (max-width:1280px) {
    font-size: 1.5rem;
  }
}

.mail-link {
  color: $color-details;

}
