@import url('https://fonts.googleapis.com/css?family=Chivo|Overpass+Mono');

body,
p {
  font-family: $font-body;
}

h1,
h2,
h3,
h4 {
  font-family: $font-headline;
}

p {
  font-size: 0.75rem;
  line-height: 2;
}