@font-face {
  font-family: 'switz';
  src: url('../fonts/switzerland.eot');
  src: url('../fonts/switzerland.eot?#iefix') format('embedded-opentype'),
       url('../fonts/switzerland.woff') format('woff'),
       url('../fonts/switzerland.ttf') format('truetype'),
       url('../fonts/switzerland.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'switz';
  src: url('../fonts/switzerland-italic.eot');
  src: url('../fonts/switzerland-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/switzerland-italic.woff') format('woff'),
       url('../fonts/switzerland-italic.ttf') format('truetype'),
       url('../fonts/switzerland-italic.svg#font-name') format('svg');
  font-weight: normal;
  font-style: italic;
}
