$color-app: #ffffff;
$color-black: #000;
$color-links: #000;
$color-work: #000;
$color-member: #000;
$color-terminal: #00ff00;
$color-details: #f09900;

$font-headline: 'Chivo', sans-serif;
$font-body: 'Overpass Mono', monospace;
$font-saker: 'nexa_boldregular', sans-serif;
