$color-app: #FF8372;
$color-black: #000000;
$color-links: #fff;
$color-work: #e9c45a;
$color-member: #7ac4b9;
$color-about: #7ed4ab;

$font-headline: 'Chivo', sans-serif;
$font-body: 'Overpass Mono', monospace;